.internal-introduction {
    background: url("../Assets/background.jpg");
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
}

.internal-introduction .subtitle {
    color: #f1f2f3;
}

.info {
    background: #151717;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subtitlev2 {
    font-size: 18px;
    font-weight: 600;
    color: #f1f2f3;
    letter-spacing: .1em;
}

.subtitlev2::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin: 5px 0px 10px 10px;
    background: #17c0c2;
}

.history p {
    color: #f1f2f3;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 1em;
    padding-right: 60px;
}

.listvalues{
    color:#f1f2f3;
    font-size: 14px;
    font-weight: 500;
}

.listvalues li{
    padding-bottom: 1em;
}