.internal-introduction {
    background: url("../Assets/background.jpg");
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
}

.internal-introduction .subtitle {
    color: #f1f2f3;
}

.info {
    background: #151717;
    padding-top: 40px;
    padding-bottom: 40px;
}

.history p {
    color: #f1f2f3;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 1em;
    padding-right: 60px;
    letter-spacing: .009em;
    line-height: 1.3em;
}

.listvalues {
    color: #f1f2f3;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    letter-spacing: .009em;
    line-height: 1.3em;
}

.listvalues li {
    padding-bottom: 1em;
    line-height: 1.3em;
}

.team {
    width: 100%;
    background: #191C1D;
    padding-top: 40px;
}

.team .internal-subtitle {
    color: #f1f2f3;
    text-align: center;
}

.team .internal-subtitle::after {
    margin: 5px auto;
}

.c-carousel_responsive {
    max-width: 940px;
}

.c-carousel_slides {
    text-align: center;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.js-carousel--dots {
    margin-bottom: 40px;
}

.c-carousel_slide {
    align-items: center;
    display: flex;
    padding-top: 400px;
}

.c-carousel_slide:nth-child(1) {
    background: url("../Assets/team.jpg");
    background-size: cover;
    background-position: center;
}

.c-carousel_slide:nth-child(2) {
    background: url("../Assets/security.jpg");
    background-size: cover;
    background-position: center;
}

.c-carousel_slide:nth-child(3) {
    background: url("../Assets/cooker.jpg");
    background-size: cover;
    background-position: center;
}

.c-carousel_slide:nth-child(4) {
    background: url("../Assets/team.jpg");
    background-size: cover;
    background-position: center;
}

.c-carousel_slide:nth-child(5) {
    background: url("../Assets/security.jpg");
    background-size: cover;
    background-position: center;
}