.categorie_item {
    padding-top: 60px;
    background: #151717;
}


.categorie_item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 4px .2px #f2f3f3;
}

.categorie_icon {
    height: 200px;
    background: url("../Assets/background.jpg");
    padding-bottom: 250px;
    padding-right: 40px;
    padding-left: 40px;
}

.categorie_icon img {
    box-shadow: none;
}

.container div:nth-child(1) img {
    object-position: 0px 85%;
}

section:nth-child(4) .container img:nth-child(1) {
    object-position: 0 35%;
}


.categorie_item h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: .2em;
    line-height: 1em;
    position: relative;
    top: -150px;
    margin-bottom: -31px;
    text-align: center;
    background: -webkit-linear-gradient(left, #151717 30%, #17c0c2 70%);
    background: linear-gradient(to right, #151717 30%, #17c0c2 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* section:nth-child(3) h2 {}

section:nth-child(4) h2 {
    background: -webkit-linear-gradient(left, #E63946 20%, #f1f2f3 10%, #17c0c2 90%);
    background: linear-gradient(to right, #E63946 10%, #f1f2f3 10%, #17c0c2 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.categorie_icon img {
    padding: 10px;
    object-fit: contain;
}

.inf-categories {
    background: #232323;
}

.inf-categories p {
    color: #f1f2f3;
    font-size: 16px;
    line-height: 25px;
    padding: 30px 40px;
    height: 152px;
}

.inf-categories ul li {
    background: url("../Assets/background.jpg");
    color: #f1f2f3;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 18px;
    text-transform: uppercase;
    float: left;
    width: 230px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
}

.inf-categories ul li:nth-child(1) {
    border-bottom: solid 2px #17c0c2;
}

.inf-categories ul li:nth-child(even) {
    border-left: solid 2px #17c0c2;
}

.inf-categories ul li:nth-child(2) {
    border-bottom: solid 2px #17c0c2;
}