@media only screen and (min-width: 768px) and (max-width: 959px) {}

@media only screen and (max-width: 767px) {
    .introduction {
        margin-top: 20px;
        position: relative;
    }

    .introduction h1 {
        font-size: 42px;
        text-align: center;
    }

    .introduction .container {
        padding-top: 200px;
        display: block;
    }

    .phrase {
        margin-top: 40px;
    }

    .phrase blockquote {
        margin-top: 0px;
    }

    .btn {
        max-width: 200px;
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        text-align: center;
        margin-top: 0px;
    }

    .img_intro {
        position: absolute;
        top: 13%;
        max-width: 80%;
        left: 10%;
    }

    .about-cards {
        flex-direction: column;
    }
    .internal-introduction{
       padding-top: 40px;
   } 
}