@media only screen and (min-width: 768px) and (max-width: 959px) {
    .categorie_item {
        width: 100%;
    }

    .categorie_icon img {
        margin-top: 35%;
    }

    .cards_categories li:nth-child(2)>div {
        font-size: 22px;
    }

    .inf-categories p {
        color: #f1f2f3;
        font-size: 14px;
        line-height: 20px;
        padding: 20px 30px;
        height: 152px;
    }

    .inf-categories ul li {
        background: url("../Assets/background.jpg");
        color: #f1f2f3;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .05em;
        line-height: 18px;
        text-transform: uppercase;
        float: left;
        width: 181px;
        height: 49px;
        text-align: center;
        padding-top: 16px;
    }

    .cards_categories li {
        font-size: 20px;
    }

    .cards_categories li:nth-child(2) div {
        font-size: 20px;
    }

    .budget-section {
        max-width: 80vw;
    }

    .budget-form {
        width: 100%;
    }

    .justify {
        padding-left: 0;
        padding-right: 0;
    }

    .text_espec {
        width: 92%;
    }
}

@media only screen and (max-width: 767px) {
    .introduction {
        margin-top: 20px;
        position: relative;
    }

    .introduction h1 {
        font-size: 42px;
        text-align: center;
    }

    .introduction .container {
        padding-top: 200px;
        display: block;
    }

    .phrase {
        margin-top: 40px;
    }

    .phrase blockquote {
        margin-top: 0px;
    }

    .btn {
        max-width: 200px;
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        text-align: center;
        margin-top: 0px;
    }

    .img_intro {
        position: absolute;
        top: 13%;
        max-width: 80%;
        left: 10%;
    }

    .about-cards {
        flex-direction: column;
    }

    .internal-introduction {
        padding-top: 40px;
    }

    .history p {
        padding-right: 0px;
        font-size: 14px;
    }

    .listvalues {
        font-size: 14px;
    }

    .info {
        padding-bottom: 10px;
    }

    .listvalues li:nth-child(3) {
        padding-bottom: 10px;
    }

    .team {
        padding-top: 40px;
    }

    .team .internal-subtitle {
        text-align: left;
    }

    .team .internal-subtitle::after {
        margin-left: 0px;
    }

    .copyright {
        line-height: 10px;
        height: 40px;
        padding-top: 15px;
        box-sizing: border-box;
    }

    .categorie_item h2 {
        font-size: 24px;
        top: -110px;
    }

    .inf-categories p {
        height: auto;
        padding: 30px 20px;
    }

    .inf-categories ul li {
        width: 150px;
        font-size: 12px;
    }

    .cards_categories {
        flex-direction: column;
    }

    .cards_categories li {
        max-width: 100%;
    }

    .budget-section {
        width: 90vw;
        max-height: 95vh;
    }

    .budget-section grid-13 {
        overflow: scroll;
    }

    .justify {
        padding-left: 0px;
        padding-right: 0px;
    }

    .budget-form_title div {
        padding-right: 0px;
        padding-left: 0px;
    }

    .budget-form_title h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .budget-form_inputs {
        flex-direction: column;
    }

    .pair_form:nth-child(odd) {
        padding-right: 0;
    }

    .pair_form label {
        font-size: 12px;
        font-weight: 600;
    }

    .text_espec label {
        padding-top: 0;
    }

    .text_espec textarea {
        max-width: 93%;
        width: 85%;
    }

    .pair_radio:nth-of-type(2) {
        padding-right: 0;
    }

    .budget-section {
        border: solid 2px #17C0C2;
    }

    .cl_popup {
        position: absolute;
        top: -15px;
        right: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: solid 2px #17C0C2;
        background: #E63946;
        color: #f1f2f3;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    .text_espec button {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .08em;
        margin-bottom: 0px;
    }

    .contact-form {
        padding-right: 0px;
    }

    .budget-section .grid-13 {
        max-height: 100%;
        overflow: scroll;
    }
    .footer .container div{
        padding-right: 0;
    }
}