/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  width: 40px;
}

.grid-2 {
  width: 100px;
}

.grid-3 {
  width: 160px;
}

.grid-4 {
  width: 220px;
}

.grid-5 {
  width: 280px;
}

.grid-6 {
  width: 340px;
}

.grid-7 {
  width: 400px;
}

.grid-8 {
  width: 460px;
}

.grid-9 {
  width: 520px;
}

.grid-10 {
  width: 580px;
}

.grid-11 {
  width: 640px;
}

.grid-12 {
  width: 700px;
}

.grid-13 {
  width: 760px;
}

.grid-14 {
  width: 820px;
}

.grid-15 {
  width: 880px;
}

.grid-16 {
  width: 940px;
}

.grid-1-3 {
  width: 300px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }

  .grid-1 {
    width: 28px;
  }

  .grid-2 {
    width: 76px;
  }

  .grid-3 {
    width: 124px;
  }

  .grid-4 {
    width: 172px;
  }

  .grid-5 {
    width: 220px;
  }

  .grid-6 {
    width: 268px;
  }

  .grid-7 {
    width: 316px;
  }

  .grid-8 {
    width: 364px;
  }

  .grid-9 {
    width: 412px;
  }

  .grid-10 {
    width: 460px;
  }

  .grid-11 {
    width: 508px;
  }

  .grid-12 {
    width: 556px;
  }

  .grid-13 {
    width: 604px;
  }

  .grid-14 {
    width: 652px;
  }

  .grid-15 {
    width: 700px;
  }

  .grid-16 {
    width: 748px;
  }

  .grid-1-3 {
    width: 236px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-1-3 {
    width: 300px;
    margin: 0 0 20px 0;
    float: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", "Open-Sans", sans-serif;
}

html::-webkit-scrollbar {
  background: #17c0c2;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: rgba(230, 57, 70, 0.9);
  /* transition: opacity .5s linear; */
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 57, 70, 0.6);
}

.subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #19314a;
  text-align: center;
}

.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #17c0c2;
  margin: 10px auto 0 auto;
}

.internal-subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  color: #f1f2f3;
  text-transform: uppercase;
}

.internal-subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #17c0c2;
  margin: 2px 0;
}

.btn {
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  max-width: 140px;
  width: 100%;
  color: #19314a;
  font-weight: 600;
  background-color: #e63946;
  padding: 10px 30px;
  border-radius: 8px;
  letter-spacing: 0.1em;
}

.btn:hover {
  box-shadow: 0.1em 0.2em 16px #e63946;
  color: #f1f2f3;
}

.btn-g {
  font-size: 18px;
  font-weight: 600;
  color: #f1f2f3;
  background-color: rgba(230, 57, 70, 100%);
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 20px;
}

.background {
  height: 100vh;
  background: #19314a url("../Assets/background.jpg");
  z-index: 10;
}

.background-header {
  background: #19314a url("../Assets/background.jpg") no-repeat;
  width: 100vw;
  height: 60px;
  top: 0;
  z-index: 11;
  position: fixed;
}

#header {
  top: 0;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 12;
  display: flex;
  align-items: center;
}

#header .header-space {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 15px;
}

.header-space a img {
  max-width: 112px;
  max-height: 32px;
  padding-bottom: 2px;
}

#menu {
  padding-top: 3px;
  display: flex;
  gap: 1rem;
}

#menu li a {
  color: #f1f2f3;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 14px;
  line-height: 20px;

  transition: color 0.2s;
}

#menu li a:hover {
  color: #17c0c2;
}

#btn-mobile {
  display: none;
  color: #f1f2f3;
  color: #f1f2f3;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 620px) {
  #header .header-space {
    padding-right: 0;
    align-items: center;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0px;
    background: #151717;
    height: 0px;
    z-index: 33333;
    transition: 0.7s;
    overflow-y: hidden;
  }

  .background-header {
    position: relative;
  }

  #nav.active #menu {
    height: 100vh;
    visibility: visible;
  }

  #menu li {
    padding: 1rem 0;
  }

  #menu li a {
    font-size: 22px;
    font-weight: 500;
  }

  #btn-mobile {
    position: relative;
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 33334;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #17c0c2;
    margin-left: 10px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 4px;
    position: relative;
    transition: 0.5s;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -6px;
  }
}

/* .menu_header {
    text-align: end;
} */

/* .menu_header ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 8px;
}

.menu_header ul li a {
    color: #f1f2f3;
    font-weight: 700;
    letter-spacing: .08em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
} */

/* .menu_header ul li a:hover {
    color: #17C0C2;
}*/

#menu li a.actv_menu {
  color: #17c0c2;
}

.introduction {
  width: 100%;
  display: flex;
  height: 65%;
  align-items: center;
  margin-top: 50px;
}

.introduction h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #f1f2f3;
}

.introduction .container {
  padding-top: 10%;
  display: flex;
}

.internal-introduction {
  background: url("../Assets/background.jpg");
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
}

.internal-introduction .subtitle {
  color: #f1f2f3;
}

.img_intro {
  text-align: end;
}

.phrase {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.phrase blockquote {
  margin-top: 20px;
  text-align: left;
}

.phrase blockquote p {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  color: #f1f2f3;
}

/* ===== Categorias ====== */
.secon_homeSec {
  width: 100%;
  background-color: #232323;
}

.secon_homeSec .subtitle {
  color: #f1f2f3;
}

.categories {
  padding: 60px 0;
}

.categories_list {
  padding-top: 40px;
}

.categories_list li {
  padding: 60px 20px 60px 20px;
  height: 100%;
  position: relative;
  z-index: 3;
  border-radius: 8px;
  background-color: #151717;
}

.categories_list li:after {
  font-size: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #f1f2f3;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background: url("../Assets/background.jpg");
  border-radius: 0px 0px 8px 8px;
  transition: all 300ms ease;
}

.categories_list li:nth-child(1)::after {
  content: "Casamentos";
}

.categories_list li:nth-child(2)::after {
  content: "Conferências";
}

.categories_list li:nth-child(3)::after {
  content: "Formaturas";
}

.categories_list li:hover:after {
  height: 44px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 13px;
}

.categories_list li object {
  width: 100%;
  height: 160px;
}

.categories_list li img {
  width: 100%;
  height: 160px;
}

.call {
  padding-top: 40px;
  clear: both;
  text-align: center;
}

.call .btn-g:hover {
  background-color: rgba(230, 57, 70, 70%);
}

/* ===== Porfólio ===== */
.portfolioIndex {
  padding-top: 40px;
  width: 100%;
  background: #151717;
}

.portfolioIndex .subtitle {
  color: #f1f2f3;
  margin-bottom: 40px;
}

.portfolioIndex .call {
  margin-bottom: 40px;
}

.items_portfolio li:last-child {
  margin-top: 20px;
}

.img_previewPort {
  border: solid rgba(23, 192, 194, 80%);
  border-width: 2px;
  display: flex;
  min-height: 280px;
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
}

.img_previewPort:first-child {
  background-image: url("../Assets/port1v2.jpg");
}

.img_previewPort:nth-child(2) {
  background-image: url("../Assets/port3.jpg");
}

.img_previewPort:nth-child(3) {
  background-image: url("../Assets/port2.jpg");
}

.about {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about-cards {
  display: flex;
}

.about img {
  margin-top: 40px;
}

.about .call {
  margin-top: 5px;
}

.about-cards .card_li {
  background-color: #232323;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.card_li:hover {
  transform: scale(1.04);
}

.card_li h3 {
  font-weight: 700;
  margin-bottom: 12px;
  color: #f1f2f3;
  font-size: 18px;
}

.bracesvg {
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.card_li:nth-child(1) h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #17c0c2;
  margin-top: 8px;
}

.card_li:nth-child(2) h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(23, 192, 194, 0.88) -115.83%,
    rgba(230, 57, 70, 0.88) 190.83%
  );
  margin-top: 8px;
}

.card_li:nth-child(3) h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #e63946;
  margin-top: 8px;
}

.card_li p {
  font-size: 16px;
  font-weight: 500;
  color: #8a8c8c;
}

/* Feedbacks  */
.home-page_cards {
  padding: 40px 0;
  background: #232323;
  color: #f1f2f3;
  text-align: center;
}

.home-page_cards .subtitle {
  color: #f1f2f3;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row {
  padding-top: 30px;
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

.testimonial {
  border-radius: 8px;
  background: #151717;
  font-size: 14px;
  line-height: 18px;
  font-style: oblique;
  letter-spacing: 0.04em;
  font-weight: 400;
  padding: 40px 10px 40px 10px;
  transition: 0.3s;
}

.testimonial:hover {
  transform: scale(1.04);
}

.testimonial .perfil {
  width: 80px;
  height: 80px;
  border: solid #17c0c2 2px;
  border-radius: 50%;
  margin: 0 auto;
}

.row li:nth-child(1) .perfil {
  background: url("../Assets/person1.jpg");
  background-size: cover;
  background-position: center;
}

.row li:nth-child(2) .perfil {
  background: url("../Assets/person3.jpg");
  background-size: cover;
  background-position: center;
}

.row li:nth-child(3) .perfil {
  background: url("../Assets/person2.jpg");
  background-size: cover;
  background-position: center;
}

.name {
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0;
}

.stars {
  color: #17c0c2;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }

  .about {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }

  .about {
    flex: 100%;
    max-width: 100%;
  }
}

.footer {
  padding: 20px 0px 20px 0px;
  width: 100%;
  background-color: #151717;
  color: #f1f2f3;
}

.socialNetwork_footer ul li a img {
  width: 30px;
  height: 30px;
}

.socialNetwork_footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.socialNetwork_footer ul li a {
  display: block;
}

.socialNetwork_footer ul li a img:hover {
  color: #e63946;
}

.footer h3 {
  font-size: 18px;
  font-weight: 600;
  color: #f1f2f3;
  letter-spacing: 0.1em;
}

.footer h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #17c0c2;
  margin: 6px 0 12px 0;
}

.footer .container div {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  padding-right: 40px;
}

.copyright {
  width: 100%;
  color: #f1f2f3;
  background: url("../Assets/background.jpg");
  font-size: 14px;
  box-sizing: border-box;
  font-weight: 400;
  padding: 5px;
  letter-spacing: 0.08em;
  line-height: 30px;
}

.glider-dot.active {
  background: #17c0c2;
}

.glider-dot {
  color: #f1f2f3;
  background: #f1f2f3;
}

.info {
  background: #151717;
  padding-top: 40px;
  padding-bottom: 40px;
}

.history p {
  color: #f1f2f3;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 1em;
  padding-right: 60px;
  letter-spacing: 0.009em;
  line-height: 1.3em;
}

.listvalues {
  color: #f1f2f3;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.009em;
  line-height: 1.3em;
}

.listvalues li {
  padding-bottom: 1em;
  line-height: 1.3em;
}

.team {
  width: 100%;
  background: #232323;
  padding-top: 40px;
}

.team .internal-subtitle {
  color: #f1f2f3;
  text-align: center;
}

.team .internal-subtitle::after {
  margin: 5px auto;
}

.c-carousel_responsive {
  max-width: 940px;
}

.c-carousel_slides {
  text-align: center;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.js-carousel--dots {
  margin-bottom: 40px;
}

.c-carousel_slide {
  align-items: center;
  display: flex;
  padding-top: 400px;
}

.c-carousel_slide:nth-child(1) {
  background: url("../Assets/team.jpg");
  background-size: cover;
  background-position: center;
}

.c-carousel_slide:nth-child(2) {
  background: url("../Assets/security.jpg");
  background-size: cover;
  background-position: center;
}

.c-carousel_slide:nth-child(3) {
  background: url("../Assets/cooker.jpg");
  background-size: cover;
  background-position: center;
}

.c-carousel_slide:nth-child(4) {
  background: url("../Assets/team.jpg");
  background-size: cover;
  background-position: center;
}

.c-carousel_slide:nth-child(5) {
  background: url("../Assets/security.jpg");
  background-size: cover;
  background-position: center;
}

.categorie_item {
  padding-top: 60px;
  background: #151717;
}

.categorie_item:nth-child(5) {
  padding-bottom: 60px;
}

.categorie_item img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

.categorie_icon {
  max-height: 200px;
  background: url("../Assets/background.jpg");
  padding-bottom: 249px;
  padding-right: 40px;
  padding-left: 40px;
  /* border: solid 2px #17c0c2; */
}

.categorie_icon img {
  box-shadow: none;
  margin-top: 10%;
}

.container div:nth-child(1) img {
  object-position: 0px 85%;
}

section:nth-child(4) .container img:nth-child(1) {
  object-position: 0 35%;
}

.categorie_item h2 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  position: relative;
  top: -150px;
  margin-bottom: -31px;
  text-align: center;
  background: -webkit-linear-gradient(left, #151717 30%, #17c0c2 70%);
  background: linear-gradient(to right, #151717 30%, #17c0c2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section:nth-child(5) h2 {
  background: -webkit-linear-gradient(left, #17c0c2 20%, #f1f2f3 60%);
  background: linear-gradient(to right, #17c0c2 20%, #f1f2f3 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categorie_icon img {
  padding: 10px;
  object-fit: contain;
}

.inf-categories {
  background: #232323;
}

.inf-categories p {
  color: #f1f2f3;
  font-size: 16px;
  line-height: 25px;
  padding: 30px 40px;
  height: 152px;
}

.inf-categories ul li {
  background: url("../Assets/background.jpg");
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 18px;
  text-transform: uppercase;
  float: left;
  width: 230px;
  min-height: 49px;
  text-align: center;
  padding-top: 16px;
}

.inf-categories ul li:nth-child(1) {
  border-bottom: solid 2px #17c0c2;
}

.inf-categories ul li:nth-child(even) {
  border-left: solid 2px #17c0c2;
}

.inf-categories ul li:nth-child(2) {
  border-bottom: solid 2px #17c0c2;
}

.form-budget_call {
  background: #232323;
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
  width: 100%;
}

.form-budget_call .internal-subtitle {
  color: #f1f2f3;
  text-align: center;
}

.form-budget_call .internal-subtitle::after {
  margin: 5px auto;
}

.note {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 3%;
  font-weight: 600;
  padding-bottom: 20px;
}

.cards_categories {
  display: flex;
  max-width: 960px;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.cards_categories li {
  display: flex;
  max-width: 33.33%;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: clamp(14px, 26px, 32px);
  color: #f1f2f3;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0.1em;
}

.cards_categories li:nth-child(1) {
  border: solid 2px #17c0c2;
}

.cards_categories li:nth-child(2) {
  background: linear-gradient(90.09deg, #17c0c2 0.09%, #e63946 104.35%);
  padding: 2px;
  border-radius: 8px;
}

.cards_categories li:nth-child(2) > div {
  background: #232323;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: clamp(14px, 26px, 32px);
  color: #f1f2f3;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0.1em;
}

.cards_categories li:nth-child(3) {
  border: solid 2px #e63946;
}

.btn-g {
  cursor: pointer;
}

.btn-g:hover {
  box-shadow: 0 0 10px #e63946;
}

.form-budget_call img {
  padding-top: 40px;
}

.fullscrean {
  width: 100vw;
  height: 100vh;
  background: rgba(230, 231, 232, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  display: none;
}

.cl_popup {
  position: absolute;
  top: -15px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 4px #17c0c2;
  background: #e63946;
  color: #f1f2f3;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

.fullscrean.mostrar {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -1000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .budget-section {
  animation: modal 0.4s;
}

.budget-section {
  background: url("../Assets/background.jpg") fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 4px #17c0c2;
  border-radius: 8px;
  position: relative;
}

.justify {
  padding-left: 100px;
  padding-right: 100px;
}

.logo {
  padding-top: 20px;
}

.budget-form {
  width: 100%;
}

.budget-form_title {
  margin-top: 20px;
}

.budget-form_title div {
  display: flex;
  text-align: center;
  width: 100%;
  padding-right: 70px;
  padding-left: 70px;
  height: 100%;
}

.budget-form_title img {
  width: 20%;
  position: absolute;
  margin-right: 320px;
}

.budget-form_title h2 {
  color: #f1f2f3;
  font-size: 18px;
  letter-spacing: 10%;
  font-weight: 600;
  line-height: 1.2em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.budget-form_inputs {
  display: flex;
  padding: 18px;
  padding-top: 0;
  align-content: center;
  align-items: center;
}

.pair_form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.pair_form:nth-child(odd) {
  padding-right: 20px;
}

.pair_form label {
  display: inline;
  width: 100%;
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}

.pair_form input {
  background: none;
  border: solid 2px #17c0c2;
  border-radius: 40px;
  width: 250px;
  margin-top: 8px;
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  padding: 5px 10px;
  outline: none;
}

.budget-form_radio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget-form_categories h4 {
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.pair_radio {
  display: inline-block;
  text-align: left;
  padding-right: 20px;
}

.budget-form_radio {
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 10%;
}

.custom_radiobtn input {
  display: none;
}

.custom_radiobtn input + label:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #17c0c2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

.custom_radiobtn input:checked + label:before {
  background-color: #e63946;
}

.text_espec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_espec label {
  display: inline;
  width: 100%;
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  padding-left: 38px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.text_espec textarea {
  display: flex;
  background: none;
  border: solid 2px #17c0c2;
  border-radius: 20px;
  width: 93%;
  align-content: center;
  height: 80px;
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  padding: 10px 15px;
  outline: none;
  resize: none;
}

.text_espec button {
  margin-top: 20px;
  background: #e63946;
  color: #f1f2f3;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 40px;
  margin-bottom: 20px;
  border: none;
}

.portfolio {
  padding-top: 40px;
  width: 100%;
  background: #232323;
  padding-bottom: 60px;
}

.sliderPhrases {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  position: relative;
  background: #151717;
}

.quote_comments {
  height: 90%;
  max-width: 80vw;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: #151717;
  max-height: 100%;
  margin: 0 auto;
  color: #f1f2f3;
  opacity: 0;
  position: absolute;
}

.quote_comments.active {
  opacity: 1;
}

.quote_comments p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.quote_comments cite {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: right;
}

.portfolio-item li img {
  width: 100%;
  max-height: 280px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.portfolio-item li:last-child {
  margin-top: 17px;
}

.slider {
  position: relative;
  background: #232323;
}

.slider .portfolio {
  position: relative;
  opacity: 0;
}

.slider li .portfolio.active {
  position: absolute;
  opacity: 1;
}

.contact {
  background: #232323;
  padding: 40px 0;
}

.contact-form {
  padding-right: 60px;
}

.contact-form label {
  display: block;
  color: #f1f2f3;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-form label:first-of-type {
  padding-top: 0;
}

.contact-form textarea {
  background: none;
  border: solid 2px #17c0c2;
  border-radius: 20px;
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 500;
  resize: none;
  outline: none;
  display: block;
  width: 100%;
  height: 120px;
  padding-left: 10px;
  padding-top: 10px;
}

.contact-form input {
  display: block;
  width: 100%;
  background: none;
  outline: none;
  border: solid 2px #17c0c2;
  border-radius: 40px;
  padding: 8px 12px;
  resize: none;
  outline: none;
  color: #f1f2f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
}

.contact-form button {
  display: block;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 8px 20px;
  cursor: pointer;
}

.contact_date h3 {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f1f2f3;
  font-weight: 700;
}

.contact_date span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #f1f2f3;
  margin-bottom: 5px;
}

.contact_date span:nth-of-type(odd) {
  margin-top: 10px;
}

.contact_date span:nth-of-type(even) {
  margin-bottom: 30px;
}

.contact_date ul {
  margin-top: 10px;
}

.contact_date ul li {
  display: inline-block;
  margin-right: 10px;
}

.contact-map {
  background: #232323;
  padding-bottom: 60px;
}

.contact-map div img {
  max-width: 960px;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .categorie_item {
    width: 100%;
  }

  .categorie_icon img {
    margin-top: 35%;
  }

  .cards_categories li:nth-child(2) > div {
    font-size: 22px;
  }

  .inf-categories p {
    color: #f1f2f3;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: 152px;
  }

  .inf-categories ul li {
    background: url("../Assets/background.jpg");
    color: #f1f2f3;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 18px;
    text-transform: uppercase;
    float: left;
    width: 181px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
  }

  .cards_categories li {
    font-size: 20px;
  }

  .cards_categories li:nth-child(2) div {
    font-size: 20px;
  }

  .budget-section {
    max-width: 80vw;
  }

  .budget-form {
    width: 100%;
  }

  .justify {
    padding-left: 0;
    padding-right: 0;
  }

  .text_espec {
    width: 92%;
  }
}

@media only screen and (max-width: 767px) {
  .introduction {
    margin-top: 20px;
    position: relative;
  }

  .introduction h1 {
    font-size: 36px;
    text-align: center;
  }

  .introduction .container {
    padding-top: 200px;
    display: block;
  }

  .phrase {
    margin-top: 40px;
    align-items: center;
  }

  .phrase blockquote {
    margin-top: 0px;
    text-align: center;
    font-size: 12px;
  }

  .btn {
    max-width: 200px;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin-top: 0px;
  }

  .img_intro {
    position: absolute;
    top: 13%;
    max-width: 80%;
    left: 10%;
  }

  .about-cards {
    flex-direction: column;
  }

  .internal-introduction {
    padding-top: 40px;
  }

  .history p {
    padding-right: 0px;
    font-size: 14px;
  }

  .listvalues {
    font-size: 14px;
  }

  .info {
    padding-bottom: 10px;
  }

  .listvalues li:nth-child(3) {
    padding-bottom: 10px;
  }

  .team {
    padding-top: 40px;
  }

  .team .internal-subtitle {
    text-align: left;
  }

  .team .internal-subtitle::after {
    margin-left: 0px;
  }

  .copyright {
    line-height: 10px;
    height: 40px;
    padding-top: 15px;
    box-sizing: border-box;
  }

  .categorie_item h2 {
    font-size: 24px;
    top: -110px;
  }

  .inf-categories p {
    height: auto;
    padding: 30px 20px;
  }

  .inf-categories ul li {
    width: 150px;
    font-size: 12px;
  }

  .cards_categories {
    flex-direction: column;
  }

  .cards_categories li {
    max-width: 100%;
  }

  .budget-section {
    width: 90vw;
    max-height: 95vh;
  }

  .budget-section grid-13 {
    overflow: scroll;
  }

  .justify {
    padding-left: 0px;
    padding-right: 0px;
  }

  .budget-form_title div {
    padding-right: 0px;
    padding-left: 0px;
  }

  .budget-form_title h2 {
    font-size: 16px;
    font-weight: 600;
  }

  .budget-form_inputs {
    flex-direction: column;
  }

  .pair_form:nth-child(odd) {
    padding-right: 0;
  }

  .pair_form label {
    font-size: 12px;
    font-weight: 600;
  }

  .text_espec label {
    padding-top: 0;
  }

  .text_espec textarea {
    max-width: 93%;
    width: 85%;
  }

  .pair_radio:nth-of-type(2) {
    padding-right: 0;
  }

  .budget-section {
    border: solid 2px #17c0c2;
  }

  .cl_popup {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #17c0c2;
    background: #e63946;
    color: #f1f2f3;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .text_espec button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-bottom: 0px;
  }

  .contact-form {
    padding-right: 0px;
  }

  .budget-section .grid-13 {
    max-height: 100%;
    overflow: scroll;
  }
  .footer .container div {
    padding-right: 0;
  }
}
