@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', 'Open-Sans', sans-serif;
}


.subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #19314A;
    text-align: center;
}

.subtitle:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #17C0C2;
    margin: 10px auto 0 auto;
}

.internal-subtitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: .1em;
    margin-bottom: 20px;
    color: #f1f2f3;
}

.internal-subtitle:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #17C0C2;
    margin: 2px 0;
}

.btn {
    font-size: 1.3em;
    margin-top: 20px;
    color: #19314A;
    font-weight: 600;
    background-color: #E63946;
    padding: 10px 30px;
    border-radius: 8px;
    letter-spacing: 0.1em;
}

.btn:hover {
    box-shadow: .1em .2em 16px #E63946;
    color: #f1f2f3
}

.btn-g {
    font-size: 18px;
    font-weight: 600;
    color: #f1f2f3;
    background-color: rgba(230, 57, 70, 100%);
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 20px;
}

.background {
    height: 100vh;
    background: #19314A url("../Assets/background.jpg") fixed;
    z-index: 10;
}


.header {
    width: 100%;
    background: #19314A url("../Assets/background.jpg") no-repeat;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 12;
}

.menu_header {
    text-align: end;
}

.menu_header ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 8px;
}

.menu_header ul li a {
    color: #f1f2f3;
    font-weight: 600;
    letter-spacing: .08em;
    font-size: .875em;
    line-height: 20px;
    padding: 10px 0;
}

.menu_header ul li a:hover {
    color: #17C0C2;
}

.introduction {
    width: 100%;
    display: flex;
    height: 65%;
    align-items: center;
    margin-top: 50px;
}

.introduction h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #f1f2f3;
}

.introduction .container {
    padding-top: 10%;
    display: flex;
}

.img_intro {
    text-align: end;
}

.phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase blockquote {
    margin-top: 20px;
    text-align: center;
}

.phrase blockquote p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .1em;
    color: #f1f2f3
}

/* ===== Categorias ====== */
.secon_homeSec {
    width: 100%;
    background-color: #191C1D;
}

.secon_homeSec .subtitle {
    color: #f1f2f3;
}

.categories {
    padding: 60px 0;
}

.categories_list {
    padding-top: 40px;
}

.categories_list li {
    padding: 60px 20px 60px 20px;
    height: 100%;
    position: relative;
    z-index: 3;
    border-radius: 8px;
    background-color: #151717;
}

.categories_list li:after {
    font-size: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0px;
    font-weight: 400;
    letter-spacing: .08em;
    color: #f1f2f3;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: url("../Assets/background.jpg");
    border-radius: 0px 0px 8px 8px;
    transition: all 300ms ease;
}

.categories_list li:nth-child(1)::after {
    content: 'Casamentos';
}

.categories_list li:nth-child(2)::after {
    content: 'Conferências';
}

.categories_list li:nth-child(3)::after {
    content: 'Formaturas';
}

.categories_list li:hover:after {
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 13px;
}

.categories_list li object {
    width: 100%;
    height: 160px;
}

.categories_list li img {
    width: 100%;
    height: 160px;
}

.call {
    padding-top: 40px;
    clear: both;
    text-align: center;
}

.call .btn-g:hover {
    background-color: rgba(230, 57, 70, 70%);
}

/* ===== Porfólio ===== */
.portfolio {
    padding-top: 40px;
    width: 100%;
    background: #151717;
}

.portfolio .subtitle {
    color: #f1f2f3;
    margin-bottom: 40px;
}

.portfolio .call {
    margin-top: 40px;
    margin-bottom: 40px;
}

.items_portfolio li:last-child {
    margin-top: 20px;
}

.img_previewPort {
    border: solid rgba(23, 192, 194, 80%);
    border-width: 2px;
    display: flex;
    min-height: 280px;
    background-size: cover;
    background-position: bottom;
}

.img_previewPort:first-child {
    background-image: url("../Assets/port1v2.jpg");
}

.img_previewPort:nth-child(2) {
    background-image: url("../Assets/port3.jpg");
}

.img_previewPort:nth-child(3) {
    background-image: url("../Assets/port2.jpg");
}

.about {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about img {
    margin-top: 40px;
}

.about .call {
    margin-top: 5px;
}


.card_li {
    background-color: #191C1D;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.card_li h3 {
    font-weight: 700;
    margin-bottom: 12px;
    color: #f1f2f3;
    font-size: 18px;
}

.card_li:nth-child(1) h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #17C0C2;
    margin-top: 8px;
}

.card_li:nth-child(2) h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #f1f2f3;
    margin-top: 8px;
}

.card_li:nth-child(3) h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #E63946;
    margin-top: 8px;
}

.card_li p {
    font-size: 16px;
    font-weight: 500;
    color: #8A8C8C;
}

/* Feedbacks  */
.testimonials {
    padding: 40px 0;
    background: #191C1D;
    color: #f1f2f3;
    text-align: center;
}

.testimonials .subtitle {
    color: #f1f2f3
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row {
    padding-top: 40px;
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

.testimonial {
    border-radius: 8px;
    background: #151717;
    font-size: 14px;
    line-height: 18px;
    font-style: oblique;
    letter-spacing: .04em;
    font-weight: 400;
    padding: 40px 10px 40px 10px;
}

.testimonial .perfil {
    width: 80px;
    height: 80px;
    border: solid #17C0C2 2px;
    border-radius: 50%;
    margin: 0 auto;
}

.row li:nth-child(1) .perfil {
    background: url("../Assets/person1.jpg");
    background-size: cover;
    background-position: center;
}

.row li:nth-child(2) .perfil {
    background: url("../Assets/person3.jpg");
    background-size: cover;
    background-position: center;
}

.row li:nth-child(3) .perfil {
    background: url("../Assets/person2.jpg");
    background-size: cover;
    background-position: center;
}

.name {
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0;
}

.stars {
    color: #17C0C2;
    margin-bottom: 20px;
}

@media screen and (max-width:960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

.footer {
    padding: 20px 0px 20px 0px;
    width: 100%;
    background-color: #151717;
    color: #f1f2f3;
}



.socialNetwork_footer ul li a img {
    width: 30px;
    height: 30px;
}

.socialNetwork_footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.socialNetwork_footer ul li a {
    display: block;
}

.socialNetwork_footer ul li a img:hover {
    color: #E63946;
}

.footer h3 {
    font-size: 18px;
    font-weight: 600;
    color: #f1f2f3;
    letter-spacing: .1em;
}

.footer h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #17C0C2;
    margin: 6px 0 12px 0;
}

.footer .container div {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
    padding-right: 40px;
}

.copyright {
    width: 100%;
    color: #f1f2f3;
    background: url("../Assets/background.jpg");
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    letter-spacing: .08em;
    line-height: 30px;
}